<%= simple_form_for(@question) do |f| %>

<div class="form-actions">
    <%= f.label :discipline , I18n.t("question.discipline") %>
    <%= f.select :discipline, grouped_options_for_select(SchoolClass.all.map{ |group| [group.ano, group.disciplines.map{|c| ["#{c.name}", "#{group.ano}-#{c.name}"] }] } ),{}, { :class => 'form-control' } %>
</div><br>
<div class="form-actions">
    <%= f.label :pergunta, I18n.t("question.title") %>
    <%= f.text_field :pergunta, class: "form-control" %>
</div>

  <br />

  <div class="form-inputs">
		<table class="table table-question">
			<thead>
				<tr>
					<th style="width: 80px;"><%= I18n.t("question.correct") %></th>
					<th><%= I18n.t("question.alternative") %></th>
				</tr>
			</thead>
			<tbody>
				<% if @question.answers_empty? || !@question.valid? || params[:action] == "edit"%>
				    <%for i in 0..4 do%>
				    <tr>
					    <td align="center"> <%= f.radio_button :correct, i, :checked => (@question.answers.index(@question.correct)==i) %> </td>
					   	<td> <%= f.text_field :answers, value:@question.answers[i] , class: "form-control", name: "question[answers][]" %> </td>
				  	</tr>
				  <% end %>
			  <% else %>
				  <%for i in 0..4 do%>
				  	<tr>
					    <td> <input type="radio" name="correct" value="<%=i%>"> </td>
					    <td> <input type="text" name="<%=i%>"> </td>
				  	</tr>
				  <% end %>
				<% end %>
			</tbody>
	 	</table>
	 </div>

  <div class="form-actions">
    <%= f.input :visible, class: "form-control" %>
  </div>


  <%= f.button :submit, I18n.t('save') %> <%= link_to I18n.t('back'), questions_path , { :class => 'btn btn-default' }%>

<% end %>