<br />
<%= form_for @question do |f| %>

  <%= f.label :discipline , I18n.t("question.discipline") %>
  <%= f.select :discipline, grouped_options_for_select(SchoolClass.all.map{ |group| [group.ano, group.disciplines.map{|c| ["#{c.name}", "#{group.ano}-#{c.name}"] }] } ) %>

  <div class="form-field">
    <%= f.label :pergunta, I18n.t("question.title") %>
    <%= f.text_field :pergunta, class: "form-control" %>
  </div>

  <br />

  <div class="form-inputs">
		<table>
			<thead>
				<tr>
					<th><%= I18n.t("question.correct") %></th>
					<th><%= I18n.t("question.alternative") %></th>
				</tr>
			</thead>
			<tbody>
				<% if @question.answers_empty? || !@question.valid? || params[:action] == "edit"%>
				    <%for i in 0..4 do%>
				    <tr>
					    <td> <%= f.radio_button :correct, i, :checked => (@question.answers.index(@question.correct)==i) %> </td>
					   	<td> <%= f.text_field :answers, value:@question.answers[i] , class: "form-control", name: "question[answers][]" %> </td>
				  	</tr>
				  <% end %>
			  <% else %>
				  <%for i in 0..4 do%>
				  	<tr>
					    <td> <input type="radio" name="correct" value="<%=i%>"> </td>
					    <td> <input type="text" name="<%=i%>"> </td>
				  	</tr>
				  <% end %>
				<% end %>
			</tbody>
	 	</table>
	 </div>

  <%= f.submit %>

<% end %>