<% if current_user.type == "Teacher" %>
	<h1>Listing All Your Questions</h1>

	<%= link_to "Create New Question", new_question_path %>
	<br />

	<% current_user.disciplines.each do |discipline| %>
		<br> <strong> <%= discipline.name%> </strong>
			<% discipline.questions.each do |question| %>
				<br />
		    - <td> <%= question.pergunta %> - </td>
		    <td><%= link_to 'Show', question %></td>
		    <td><%= link_to 'Edit', edit_question_path(question) %></td>
		    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<br>
				 ____________________________________________________
				 <br >
			<% end %>
	<% end %>
<% else %>
	ALUNO
<% end %>