
<% if current_user.type == "Teacher" %>
	<%= link_to I18n.t("question.new"), new_question_path, class: "pull-right btn btn-default" %>
	<h1><%= I18n.t("question.all_questions") %></h1>
	<br />

	<% current_user.disciplines.each do |discipline| %>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2"><%= discipline.name%></th>
				</tr>
			</thead>
			<tbody>
				<% discipline.questions.each do |question| %>
				<tr>
			   		<td> <%= question.pergunta %></td>
			    	<td style="width:150px"><%= link_to I18n.t("menu.show"), question %> <%= link_to I18n.t("menu.edit"), edit_question_path(question) %> <%= link_to I18n.t("menu.destroy"), question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>