<% if current_user.teacher? %>
  <%= link_to I18n.t("discipline.new"), new_discipline_path, class: "pull-right btn btn-default" %>
<% end %>
<h1><%=I18n.t("discipline.your_disciplines")%></h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("discipline.name") %></th>
      <th><%= I18n.t("discipline.class") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.name %></td>
        <td><%= discipline.school_class.ano %></td>
        <% if current_user.teacher? %>
          <% unless discipline.teacher.id == current_user.id %>
            <td><%= link_to I18n.t("menu.show"), discipline %></td>
            <td><%= link_to I18n.t("menu.edit"), edit_discipline_path(discipline) %></td>
            <td><%= link_to I18n.t("menu.destroy"), discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% elsif current_user.student? %>
          <% if discipline.students.nil? || (!discipline.students.include? current_user) %>
            <td> <%= link_to I18n.t("discipline.join"), join_discipline_path(discipline) %> </td>
          <% else %>
            <td> <%= link_to I18n.t("discipline.exit"), exit_discipline_path(discipline) %> </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
