<h1><%=I18n.t("discipline.your_disciplines#{'-admin' if current_user.admin?}")%></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("discipline.name") %></th>
      <th><%= I18n.t("discipline.class") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.name %></td>
        <td><%= discipline.school_class.ano %></td>
        <% if current_user.teacher? %>
          <% if discipline.teacher.id == current_user.id %>
            <td><%= link_to I18n.t("menu.show"), discipline %><%= link_to "Edit", edit_discipline_path(discipline) %><%= link_to "Destroy", discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
          <% end %>
        <% elsif current_user.student? %>
          <% if discipline.students.nil? || (!discipline.students.include? current_user) %>
            <td> <%= link_to I18n.t("discipline.join"), join_discipline_path(discipline) %> </td>
          <% else %>
            <td> <%= link_to I18n.t("discipline.exit"), exit_discipline_path(discipline) %> </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
