<p>
  <strong><%= I18n.t("discipline.name") %>:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong><%= I18n.t("discipline.class") %>:</strong>
  <%= @discipline.school_class.ano %>
</p>

<ul>
  <% if current_user.admin? %>
    <% @discipline.students.each do |student| %>
      <li> <%= student.name %> </li>
    <% end %>
  <% end %>
</ul>

<%= link_to I18n.t("menu.show"), edit_discipline_path(@discipline) %> |
<%= link_to I18n.t("menu.back"), current_user.teacher? ? disciplines_path : @discipline.teacher %>
