<p>
  <strong> <%= I18n.t("student.title") %>: <%= @done.student.name if current_user.student? %> </strong>
</p>
<p>
  <strong><%= I18n.t("exam.title") %>:</strong>
  <%= @done.exam.title %>
</p>

<p>
  <strong><%= I18n.t("exam.grade") %>:</strong>
  <%= @done.nota %>
</p>

<p>
  <strong><%= I18n.t("done.answers") %>:</strong>

<% @done.exam.questions.each_with_index do |question, index| %>
  <ul>
    <li> <%= question.pergunta %>  => <%= question.answers[(@done.respostas[index]).to_i]%> </li>
  <%= "Resposta correta: #{question.correct}" if question.answers[(@done.respostas[index]).to_i] != question.correct %>
  </ul>
<% end %>

<%= link_to I18n.t("menu.back"), dones_path %>
