

<p>
  <strong> Aluno: <%= @done.student.name if current_user.teacher? %> </strong>
</p>
<p>
  <strong>Prova:</strong>
  <%= link_to @done.exam.title, @done.exam %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @done.nota %>
</p>

<% @done.exam.questions.each_with_index do |question, index| %>

  <p> - <%= question.pergunta %>:   <%= question.answers[(@done.respostas[index]).to_i]%></p>
<% end %>

<%= link_to 'Back', dones_path %>
