<h1> <%= I18n.t("admin.welcome")%> </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= I18n.t("teacher.name") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.name, teacher %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <td><%= link_to I18n.t("menu.new"), new_teacher_path %></td>
  </tbody>
</table>

