<h4> <%=I18n.t("exam.done")%></h4>
<h3> Nota: <%=@done.nota%></h3>

<%respostas = @done.respostas%>
<ol>
<%@exam.questions.each_with_index do |q, i|%>
  <li><%= q.pergunta %>
    <br />
    <% q.answers.each do |a|%>
    <%#binding.pry%>
      <%=q.answers[respostas[i].to_i]==a ? "**#{a}**" : a%>
    <% end %>
  <br />
  <br />
<% end %>
</ol>

<%= link_to "Back", exams_path%>