<%= simple_form_for(@exam) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

 <%= f.label :discipline , "Disciplina" %>
  <%= f.select :discipline, grouped_options_for_select(SchoolClass.all.map{ |group| [group.ano, group.disciplines.map{|d| ["#{d.name}", "#{d.name}"]}] }) %>

  <div class="form-inputs">

  <%# if @exam.questions.present? %>
    <%# @exam.questions.each do |q|%>
      <td> <%#= f.check_box :questions, id: q.id, class: "form-control", name: "exam[questions][]" %> <%#= q.pergunta %> </td>
    <%# end %>
  <%# else %>
    <%# @questions.each do |q| %>
      <td> <%#= f.check_box :questions, value: 2 ,class: "form-control", name: "exam[questions][]" %> <%#= q.pergunta %> </td>
    <%# end %>
  <%# end %>

  Questions:
  <% if @questions.present? %>
    <div class="form-inputs">
    <% @questions.each do |q|%>
      <input type="checkbox" name="<%=q.id%>" value="true" <%='checked' if @exam.questions.include? q %>>
      <%= link_to "#{q.pergunta}", q %>
      <hr style= "width: 10%; margin: 5px 0;">
      <%#i+=1%>
    <%end%>
    </div>
  <% else %>
    <br>
    You don't have any questions
  <% end %>
  </div>

    <%= f.submit %>
<% end %>
