<%= simple_form_for(@exam) do |f| %>
<%#=flash[:alert] = I18n.t("exam.questions") + ' ' + @exam.errors[:questions].first if
                                                     @exam.errors[:questions].present?%>
  <div class="form-actions">
    <%= f.input :title %>
  </div>

  <div class="select_discipline form-actions">
   <%= f.label :discipline , I18n.t("exam.discipline") %>
    <%= f.select :discipline, grouped_options_for_select(SchoolClass.all.map{ |group| [group.ano, group.disciplines.map{|d| ["#{d.name}", "#{d.name}"]}] }, @exam.try(:discipline).try(:name)),{}, { :class => 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.label :questions , I18n.t("exam.questions") %>
    <% Discipline.all.each do |discipline|%>
      <div class="discipline <%= discipline.name %> <% 'active' if @exam.try(:discipline).try(:name) == discipline%>">
      <% discipline.questions.each do |question|%>
        <input type="checkbox" name="<%=question.id%>" value="true" <%='checked' if @exam.questions.include? question %>>
        <%= link_to "#{question.pergunta}", question %>
        <hr style= "width: 10%; margin: 5px 0;">
      <% end %>
      </div>
    <% end%>

  </div>
  <br >
  <%= f.button :submit %> <%= link_to 'Back', exams_path , { :class => 'btn btn-default' }%>
<% end %>

<script>
  $('.discipline.'+ $('#exam_discipline :selected').val()).css("display", "block")

  $('.select_discipline').on('change', function(){
    $(".discipline").css("display", "none")
    var value = $('#exam_discipline :selected').val();
    $(".discipline."+value).css("display","block");
  })
</script>

<style>
  .discipline {
    display: none;
  }
  .discipline.active{
    display: block;
  }
</style>