<h2> <%=@exam.title%></h2>
<h3> <%= @exam.teacher.name if current_user.admin? %> </h3>
<% @exam.questions.each do |question| %>
	<%= render "/questions/teacher_question", question: question%>
<% end %>

<%= (link_to 'Edit', edit_exam_path(exam) + "|") if current_user.teacher? %>
<%= link_to 'Back', exams_path %>