<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <h1><%= I18n.t("exam.your_exams") %></h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= I18n.t("exam.title") %></th>
        <th><%= I18n.t("exam.grade") %></th>
        <th><%= I18n.t("exam.discipline") %></th>
        <th><%= I18n.t("exam.done") %>?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @exams.each do |exam| %>
        <% done = Done.find_by exam_id: exam.id, student_id: current_user.id %>
        <% next if exam.discipline.students.nil? %>
        <% if exam.discipline.students.include? current_user%>
          <tr>
            <td><%= exam.title %></td>
          	<td colspan="1"><%= done.try(:nota) %></td>
            <td> <%= exam.discipline.name%></td>
            <td> <%= done.present? ? I18n.t("sim") : I18n.t("nao")%> </td>
            <td> <%= link_to (done.present? ? I18n.t("exam.see") : I18n.t("exam.do")), exam %></td>
        	</tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>
