<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <p id="notice"><%= notice %></p>

  <h1>Your Exams</h1>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t("exam.title")%></th>
        <th><%=I18n.t("exam.nota")%></th>
        <th><%=I18n.t("exam.discipline")%></th>
        <th> Done? </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <%# student_exams = @exams.each {|e| e if e.students.include? Student.find(current_user.id)}%>
    <% student_exams = []%>
    <% @exams.each do |exam|%>
      <% if exam.students.include? Student.where(id: current_user.id).first%>
        <% student_exams << exam%>
      <% end %>
    <% end %>
    <% Exam.all.each do |exam| %>
    <% done = Done.where(exam_id: exam.id, student_id: current_user.id).first %>
      <tr>
        <td><%= exam.title %></td>
      	<td colspan="1"><%= done.try(:nota) %></td>
        <td><%= exam.discipline.name%></td>
        <td> <%if done.present? %> S </i>
  <%end%></td>
        <td><%= link_to 'Show', exam %></td>
    	</tr>
    <% end %>
    </tbody>
  </table>

  <br>
