 <p id="notice"><%= notice %></p>
    <p>
      <strong><%= I18n.t("exam.title") %></strong>
      <%= @exam.title %>
    </p>
      <br />
      <%= form_tag("/dones/teste", :method => "post") do %>
        <% for i in 0..@exam.questions.count-1 do %>
          <%= @exam.questions[i].pergunta %>
          <br />
          <% @exam.questions[i].answers.each_with_index do |answer, index|%>

           <span> <input type="radio" name="<%=i%>" value="<%=index%>" %>
              <%=answer%> </span>
          <br />
          <% end %>
          <br />
        <% end %>
      <input type="hidden" name="prova_id" value="<%=@exam.id%>">
      <input type="hidden" name="all" value="teste">
      <%= submit_tag(I18n.t("exam.finish")) %>
      <% end %>