<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <p id="notice"><%= notice %></p>

  <h1><%= I18n.t("exam.your_exams") %></h1>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t("exam.title")%></th>
        <th><%=I18n.t("exam.class")%></th>
        <th colspan="1"></th>
        <th><%= I18n.t("exam.finished?") %> </th>
      </tr>
    </thead>

    <tbody>
    <%# student_exams = @exams.each {|e| e if e.students.include? Student.find(current_user.id)}%>
    <% student_exams = []%>
    <% @exams.each do |exam|%>
      <% if exam.students.include? Student.where(id: current_user.id).first%>
        <% student_exams << exam%>
      <% end %>
    <% end %>
    <% student_exams.each do |exam| %>
      <tr>
        <td><%= exam.title %></td>
      	<td><%= exam.class_id %></td>
        <td><%= link_to 'Show', exam %></td>
        <td> <%if Done.where(student_id: current_user.id, exam_id: exam.id).first.present?%><i class="fa fa-check-square-o" aria-hidden="true"></i>
  <%end%></td>
    	</tr>
    <% end %>
    </tbody>
  </table>

  <br>
