<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      width:100%;
      min-width: 300px;
    }
    .nav-main{
      position: relative;
      display: inline;
      height: auto;
    }
    .teste{
      height: auto;
    }
    .log{
      display: inline;
      float: right;
      height: auto;
      margin-right: 5%;
      vertical-align: middle;
    }
    .img{
      vertical-align: middle;
    }
    .table{
      position: absolute;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <title>Aplicando</title>
  <%= stylesheet_link_tag    "application", media: "all",
  																					"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",
																						"data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if user_signed_in?%>
    <div class="container">
      <div class="teste">
      <nav class="nav-main">
        <%= link_to "#{I18n.t("nav.disciplines")}", disciplines_path %>
        <%if current_user.teacher? %> <%= link_to "#{I18n.t("nav.discover")}", discover_path %> <% end %>
        <%if current_user.teacher? %> <%= link_to "#{I18n.t("nav.questions")}", questions_path %> <% end %>
        <%= link_to "#{I18n.t("nav.exam")}", exams_path %>
        <%= link_to "#{I18n.t("nav.about")}", about_us_path, class: "btn
  																					 btn-default nav-btn", id: "about" %>
        <%= link_to "#{I18n.t("nav.faq")}", faq_path, class: "btn btn-default nav-btn" %>
        <%= link_to "#{I18n.t("nav.help")}", help_path, class: "btn btn-default nav-btn"%>
      </nav>
           <nav class="log">
          <span><%="#{I18n.t("user.logged_as")} #{current_user.name} "%></span>
          <%= link_to("#{I18n.t("user.logout")}", destroy_user_session_path, :method => :delete) %>
        </nav>
      </div>
  <%else%>
    <%la = request.original_url.split('/').last%>
    <% if (la != "sign_in" && la != "sign_up") %>
    <%   %>
      <nav class="log">
        <%= link_to("#{I18n.t("user.login")}", )  %>
      </nav>
    <% end %>
  <%end%>


  <% if flash[:notice]  %>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <% if flash[:error]%>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:error] %>
    </div>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-warning" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <%= flash[:alert] %> 
     </div>
  </div>
  <% end %>


  <%= yield %>


  </div>
</body>
</html>