<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      width:100%;
      min-width: 300px;
    }
    .nav-main{
      position: relative;
      display: inline;
      height: auto;
    }
    .teste{
      height: auto;
    }
    .log{
      display: inline;
      float: right;
      height: auto;
      margin-right: 5%;
      vertical-align: middle;
    }
    .img{
      vertical-align: middle;
    }
    .table{
      position: absolute;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <title>aplicando</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if user_signed_in?%>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'aplicando', home_path, :class => "navbar-brand"%>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= (link_to "#{I18n.t("nav.teacher")}", teachers_path) if current_user.admin? %> </li>
              <li><%= link_to "#{I18n.t("nav.disciplines")}", disciplines_path %></li>
              <li><%= (link_to "#{I18n.t("nav.discover")}", discover_path) unless current_user.student? %></li>
              <li><%= (link_to "#{I18n.t("nav.questions")}", questions_path) if current_user.teacher? %></li>
              <li><%= link_to "#{I18n.t("nav.exam")}", exams_path %></li>
              <li><%= link_to "#{I18n.t("nav.about")}", about_us_path, id: "about" %></li>
              <li><%= link_to "#{I18n.t("nav.faq")}", faq_path %></li>
              <li><%= link_to "#{I18n.t("nav.help")}", help_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <%= ["pt-BR", "en"].each do |l|%>
              <li><%= link_to (current_user.locale == l ? "*#{l}*" : l), teste_path, :method => :post %></li>
            <% end %>
              <li><a><%= "#{I18n.t("user.logged_as")} #{current_user.try(:name)}" %></a></li>
              <li><%= link_to("#{I18n.t("user.logout")}", destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  <%else%>
    <%la = request.original_url.split('/').last%>
    <% if (la != "sign_in" && la != "sign_up") %>
    <%   %>
      <nav class="log">
        <%= link_to("#{I18n.t("user.login")}", )  %>
      </nav>
    <% end %>
  <%end%>


  <% if flash[:notice]  %>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <% if flash[:error]%>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:error] %>
    </div>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div style="text-align: center;width: 60%;margin-left: 20%;">
    <div class="alert alert-dismissible alert-warning" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <%= flash[:alert] %>
     </div>
  </div>
  <% end %>

  <%= yield %>
    </div>

  <script>
    window.alert("eae");

    function func(){
      $.ajax({
        url: like_path
        type: "POST"
        data: 'like'
      })
      window.alert("era")
    }

    $('.like').click(function(){
    });
  </script>
</body>
</html>
