<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      width:100%;
      min-width: 300px;
    }
    .nav-main{
      position: relative;
      display: inline;
      height: auto;
    }
    .teste{
      height: auto;
    }
    .log{
      display: inline;
      float: right;
      height: auto;
      margin-right: 5%;
      vertical-align: middle;
    }
    .img{
      vertical-align: middle;
    }
    .table{
      position: absolute;
    }
  </style>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    "application", media: "all",
  																					"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",
																						"data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if user_signed_in?%>
    <div class="container">
      <div class="teste">
      <nav class="nav-main">
        <%if current_user.admin? %> <%= link_to "#{I18n.t("nav.teacher")}", teachers_path %> <% end %>
        <%= link_to "#{I18n.t("nav.disciplines")}", disciplines_path %>
        <%if current_user.teacher? %> <%= link_to "#{I18n.t("nav.discover")}", discover_path %> <% end %>
        <%if current_user.teacher? %> <%= link_to "#{I18n.t("nav.questions")}", questions_path %> <% end %>
        <%= link_to "#{I18n.t("nav.exam")}", exams_path %>
        <%= link_to "#{I18n.t("nav.about")}", about_us_path, class: "btn
  																					 btn-default nav-btn", id: "about" %>
        <%= link_to "#{I18n.t("nav.faq")}", faq_path, class: "btn btn-default nav-btn" %>
        <%= link_to "#{I18n.t("nav.help")}", help_path, class: "btn btn-default nav-btn"%>
      </nav>
           <nav class="log">
          <span><%="#{I18n.t("user.logged_as")} #{current_user.name} "%></span>
          <%= link_to("#{I18n.t("user.logout")}", destroy_user_session_path, :method => :delete) %>
        </nav>
      </div>
  <%else%>
    <%la = request.original_url.split('/').last%>
    <% if (la != "sign_in" && la != "sign_up") %>
    <%   %>
      <nav class="log">
        <%= link_to("#{I18n.t("user.login")}", )  %>
      </nav>
    <% end %>
  <%end%>


  <% if flash[:notice]  %>
    <h3 style="color: green;"><%= flash[:notice] %></h3>
  <% end %>

  <% if flash[:error]%>
    <h3 style="color: red;"><%= flash[:error] %></h3>
  <% end %>

  <% if flash[:alert] %>
    <h3 style="color: orange;"> <%= flash[:alert] %> </h3>
  <% end %>


  <%= yield %>


  </div>
</body>
</html>